@import "./node_modules/bootstrap/scss/bootstrap.scss";

@include media-breakpoint-up(sm) { 
	.banner-content > h1{
	font-size: 80px;
	line-height: 80px;
	}

	.banner-content > h2{
	font-size: 35px;
	}
}

@include media-breakpoint-up(md) { 

	.banner-content > h1{
	font-size: 90px;
	line-height: 100px;
	}
}

@include media-breakpoint-up(lg) { 

	.banner-content > h1{
	font-size: 70px;
	line-height: 85px;
	}

	.banner-content > h2{
	font-size: 40px;
	}

}

@include media-breakpoint-up(xs) { 
	.banner-content > h1{
	font-size: 60px;
	line-height: 60px;
	}

	.banner-content > h2{
	font-size: 35px;
	}
 }

