
.comprar-link{
	width: 150px;
}

/*afecta a todas las secciones*/
section{
	padding: 30px 03
	
}

/*dando un fondo a la seccion del banner*/
.banner{
/*Esta imagen se saco del link https://heropatterns.com/  */
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23000fff' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

/*propiedad que intenga cubrir todo lo que ubica el banner*/
/*background-size: cover; no me gusto como queda el estilo*/

/*para que se alinea arriba a la izquierda*/
background-position: top left;

}

.btn-primary{
	color:white;
	/**/
	font-weight: bolder;
}

/*hace referencia a la clase que estan en el div y dice banner-content
y tambien la flechita (>) queria decir que afecte a las etiquetas h1*/

.banner-content > h1{
	font-size: 70px;
	font-weight: normal;
	margin-bottom: 2rem;
}

.banner-content > h2{
	font-size: 40px;
	font-weight: normal;
	margin-bottom: 2rem;
}

.autor-img{
	position: relative;
	z-index: 1;
}

.autor-img::before{
	position: absolute;
	content:"";
	left: -30px;
	top: 20px;
	width: 90%;
	height: 100%;
	border: 5px solid;
	z-index: -1;

}


.libro{
	background-color: #D7EDE2;
}

